/Build/version.h

/Configure/Configure
/Configure/Configure.2017
/Configure/Debug
/Configure/Release
/Configure/*.user
/Configure/*.exe

/Dependencies/*

/ImageMagick

/Installer/Inno/config.isx
/Installer/Inno/Output/*

/OptionalDependencies/*

/Output/*

/Projects/utilities/ImageMagick.version.h

/*.Projects/*

/*.sln

.vs
