/aom
/brotli
/bzlib
/cairo
/contrib
/croco
/dcraw
/exr
/ffi
/flif
/freetype
/fribidi
/glib
/harfbuzz
/highway
/ImageMagick
/jbig
/jp2
/jpeg-turbo
/jpeg-xl
/lcms
/libde265
/libheif
/liblzma
/libraw
/librsvg
/libxml
/libzip
/lqr
/openjpeg
/pango
/pixman
/png
/tiff
/VisualMagick
/webp
/win2k
/zlib
