/Configure/Configure.2022
/Configure/Debug
/Configure/Release
/Configure/*.user
/Configure/*.exe

/Dependencies/*

/Dynamic

/ImageMagick

/Installer/Inno/inc/version.isx

/OptionalDependencies/*

/Output/*

/Projects/utilities/ImageMagick.version.h

/Static

/StaticDLL

/*.sln

.vs
